@media screen and (max-width:1450px) {
  .header {
    background-position-y: unset;
  }
}

@media screen and(max-width: 900px) {
  .header {
    background-position-y: 4rem;
  }

  .modal {
    flex-direction: column;
    padding: 2%;
  }

  #closeDialog {
    top: 0;
    right: 0;
    position: absolute;
  }
  .modal-img{
    max-width: 80%;
  }
}


@media screen and (max-width: 750px) {
  .header {
    padding-top: 5rem;
    background-position-x: -10rem;
    background-position-y: 6rem;
  }

  .item-card {
    flex-direction: column;
  }

  .item-container:nth-child(2),
  .item-container:nth-child(4),
  .item-container:nth-child(6) {
    .item-card {
      flex-flow: unset !important;
      flex-direction: column !important;

      .wired-rendered.img-preview {
        float: unset !important;
      }
    }
  }
  .modal-img{
    max-width: 90%;
  }

  .description {
    width: unset !important;
  }
}