@media screen and (max-width: 750px) {
  .header {
    display: block !important;
    padding-top: 5rem;


    .introduction {
      background-position-y: -4rem;
      background-position-x: unset;
      width: 80%;
    }
  }

  .item-card {
    flex-direction: column;
  }

  .item-container:nth-child(2),
  .item-container:nth-child(4),
  .item-container:nth-child(6) {
    .item-card {
      flex-flow: unset !important;
      flex-direction: column !important;

      .wired-rendered.img-preview {
        float: unset !important;
      }
    }
  }

  .description {
    width: unset !important;
  }
}