* {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;

}
body {
  margin: 0;
  font-family: "Inconsolata", monospace;
  overflow-x: hidden;

}
h1 {
  font-family: "Sedgwick Ave", cursive;
}
.menu-bar {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.about {
  background-color: aliceblue;
  min-height: 33rem;
  display: flex;
}

.projects {
  background-color: salmon;
  min-height: 33rem;
  // padding: 2rem 1rem;
  padding: 2rem 0;
}
.list-container {
  margin: 0 auto;
}
.list {
  justify-items: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // width: 85%;
  margin: 0 auto;
  .item-card {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 325px;
    min-height: 25rem;
  }
}
.list-block {
  .item-container:nth-child(2),
  .item-container:nth-child(4),
  .item-container:nth-child(6) {
    background-color: wheat;
  }

  .item-card {
    display: flex;
    min-height: 25rem;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    section {
      margin: 0 4%;
    }
    .description {
      min-width: 15rem;
      max-width: 35rem;
    }
    .img-preview {
      width: 30rem;
      height: fit-content;
    }
  }
  .item-container:nth-child(2),
  .item-container:nth-child(4),
  .item-container:nth-child(6) {
    .item-card {
      flex-flow: row-reverse;
      .wired-rendered.img-preview {
        float: right;
      }
    }
  }
}

.project-highlight {
  text-align: center;
  padding-top: 4rem;
  .item-card {
  justify-content: center;
text-align: left;}}

.modal {
  display: flex;
}
