* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: hsl(219, 57%, 25%);
  overflow-x: hidden;
  background-color:  #1b3564;


  ::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }

  ::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #fbc5c1;
  }

  ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
  }
}

body {
  margin: 0;
  font-family: "Inconsolata", monospace;

}

h1 {
  font-family: "Sedgwick Ave", cursive;
}

.menu-bar {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.about-container {
  background-color: #cfece1;
  min-height: 33rem;
  padding: 4rem 0;


}

.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 65%;
  margin: 0 auto;


  img {
    width: 25rem;
  }

  .about-card {
    padding: 2%;
    
    background-color: #ffefd185;;
  }

}

.links-card {
  background-color:  #1b3564;
  color: #ffefd1;
  float: right;
  padding-right: 2%;
.wired-rendered{
  margin: 0 2%;
}
  .flex {
    align-items: center;
    display: flex;
  }

  section {
    width: 25rem;
    padding: 2% 3%;
    display: flex;
    justify-content: space-evenly;
  }

  p {
    width: 100%;
  }
}

.projects {
  background-color: salmon;
  min-height: 33rem;
  padding: 2rem 0;
}

.list-container {
  margin: 0 auto;
}

.list {
  justify-items: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;

  .item-card {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 325px;
    min-height: 25rem;
  }
}
.description-btn{
  margin:1%;
}
.project-highlight{
  .item-container:nth-child(1){
    background-color:#f8c761;
  }

}

.list-block {
  background-color: whitesmoke;

  .item-container:nth-child(2),
  .item-container:nth-child(4),
  .item-container:nth-child(6) {
    background-color: #fef6dd;
  }

  .item-card {
    display: flex;
    min-height: 25rem;
    align-items: center;
    margin: 0 auto;
    width: 85%;

    section {
      margin: 0 4%;
    }

    .description {
      min-width: 15rem;
      max-width: 35rem;
    }

    .img-preview {
      width: 30rem;
      height: fit-content;
      padding: 4%;
      text-align: center;
    }
  }

  .item-container:nth-child(2),
  .item-container:nth-child(4),
  .item-container:nth-child(6) {
    .item-card {
      flex-flow: row-reverse;

      .wired-rendered.img-preview {
        float: right;
      }
    }
  }
}

.project-highlight {
  text-align: center;
  padding: 4rem 0;
  background-color: #f8c761;

  .highlight-intro {
    width: 60%;
  }
}

p {
  margin: 0 auto;
  padding-bottom: 1.5%;
}

.item-description {
  margin: 0;
}

.highlight-button {

  &.animated {
    transform: scale(1);
    animation: pulse 2s infinite;
  }
}

.item-card {
  justify-content: center;
  text-align: left;
}


.modal {
  display: flex;
  max-width: 70rem;
  width: fit-content;
  padding: 4%;
}

.modal-img {
  max-width: 50%;
  height: 100%;
}

.modal-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4%;

  a {
    color: #1b3564;
  }
}

.divider {
  width: 60%;
  margin: 2% auto;

}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.95);
  }
}